
<div class="post">

    <div class="post-header index">
        <h1 class="title">
            <a href="<%- url_for(item.path) %>">
                <%- item.title || theme.default_post_title || __('default_post_title') %>
            </a>
        </h1>
        <div class="post-info">
            <% if(item.date) { %>
                <span class="date"><%= item.date.format(config.date_format) %></span>
            <% } %>
            <% if (theme.comments && theme.comments.disqus_shortname) { %>
                <a href="<%- item.permalink %>#disqus_thread" class="comments article-comment-link"><%= __('comment') %></a>
            <% } %>
            <% if(item.categories.first()) { %>
                <span class="category">
                    <a href="<%- config.root + item.categories.first().path  %>"><%- item.categories.first().name %></a>
                </span>
            <% } %>
        </div>
    </div>

    <% if(item.excerpt) { %>
        <div class="content">
            <%- item.excerpt %>
        </div>
        <a href="<%- url_for(item.path) %>" class="read-more">Read More</a>
    <% } else { %>
        <div class="content">
            <%- item.content %>
        </div>
    <% } %>

</div>